body{
    margin:0;
    background:#0f0f0f;
    font-family:Arial;
  }
  
  .container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .card{
    width:400px;
    background:#1c1c1c;
    padding:30px;
    border-radius:20px;
    color:white;
  }
  
  h1{
    text-align:center;
  }
  
  input,
  select,
  button{
    width:100%;
    padding:12px;
    margin-top:12px;
    border:none;
    border-radius:10px;
  }
  
  button{
    background:white;
    color:black;
    font-weight:bold;
    cursor:pointer;
  }